#ifndef __BUTTON_SECRETS_H__
#define __BUTTON_SECRETS_H__

const char *ap_name = "AP Name Goes Here";
const char *ap_password = "12345";

const int http_port = 1234;
const char *http_server = "example.com";
const char *http_path = "/button_pressed";

#endif
